.logo{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 0;
}

.imgLogo{
    padding: 10px;
    margin: 10px;
    height: 100px;
    width: 100px;
    border-radius: 60px;
}

.pLogo{
    color: aliceblue;
    z-index: 1;
    align-items: center;
    margin: 20px;
    text-align: center;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

#principal{
    background-image: url(/assets/pictures/starry-sky-2675322_1280.jpg);
    background-size: cover;
}

.navbar{
    z-index: 2;
    color: antiquewhite;
}