
.logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.imgLogo{
    padding: 10px;
    margin: 10px;
    height: 200px;
    width: 200px;
    border-radius: 1100px;
    background-color: rgb(44, 44, 44);
}

.pLogo{
    font-size: 50px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#principal{
    min-height: 100hv;
    background-color: black;
    background-size: cover;
}

.container{
    display: grid;
    grid-gap: 5px;
    grid-template-areas: "header header" 
    "main main"
    "footer footer";
    justify-content: center;
    grid-template-areas: repeat(auto-fit, minmax(150px, 1fr));
}

.item{
    background-color: transparent;
    color: #cfc7c7;
    text-align: center;
    padding: 5px;
    font-size: 30px;
}

.header{
    margin: 0;
    padding: 0;
    grid-area: header;
    font-size: 200px;
    color: aliceblue;
    z-index: 1;
    align-items: center;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
    background-color: rgb(17, 17, 17);
}

.main{
    grid-area: main;
}

.main p {
    clear: left;
}

.footer{
    grid-area: footer;
    color: rgb(209, 173, 173);
    align-irgb(250, 238, 238) center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    background-image: url(/assets/pictures/background-img.jpeg);
}
 .footer p{
    display: flex;
    align-items: center;

 }
.photo{
    grid-area: photo;
   
}

.imgMain{
    padding: 5px;
    background-color: rgb(15, 15, 15);
    float: right;
}

.imgFooter{
    margin: 10px 0 10px 30px;
    width: 150px;
    border-radius: 75px;
    padding: 3px;
    background-color: rgb(219, 194, 243);
}

button{
    background-color: black;
    cursor: pointer;
    border: none;
    padding: 16px 32px;
    color: aliceblue;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    border-radius: 12px;
}
button::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, red, blue, deeppink, blue,  red, blue, deeppink, blue);
    background-size: 800%;
    border-radius: 10px;
    filter: blur(8px);
    animation: glowing 20s linear infinite;
}

@keyframes glowing {
    0% {
        background-position: 0 0 ;
    }
     
    50%{
        background-position: 400% 0;
    }

    100%{

        background-position: 0;
    }
}

.button a{
    color: rgb(247, 157, 247);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}